<form id="contact-form" class="">
  <div class="row">
    <span class="field-name">Name</span>
    <div class="fullname__inputs">
      <input placeholder="First" />
      <input placeholder="Last"/>
    </div>
  </div>
  <label class="row">
    <span class="field-name">Twitter</span>
    <input placeholder="@jack"/>
  </label>
  <label class="row">
    <span class="field-name">Avatar URL</span>
    <input placeholder="https://example.com/avatar.jpg"/>
  </label>
  <label class="row">
    <span class="field-name">Notes</span>
    <textarea> </textarea>
  </label>
  <div class="form-actions">
    <button type="submit">Save</button>
    <button class="cancel-button" type="button">Cancel</button>
  </div>
</form>
