<form
  #contactForm="ngForm"
  id="contact-form"
  (ngSubmit)="onSubmit(contactForm)"
>
  <div class="row">
    <span class="field-name">Name</span>
    <div class="fullname__inputs">
      <input
        placeholder="First"
        name="name"
        [(ngModel)]="formContactData.name"
      />
      <input
        placeholder="Last"
        name="lastname"
        [(ngModel)]="formContactData.lastname"
      />
    </div>
  </div>
  <label class="row">
    <span class="field-name">Twitter</span>
    <input
      placeholder="@jack"
      name="twitter_username"
      [(ngModel)]="formContactData.twitter_username"
    />
  </label>
  <label class="row">
    <span class="field-name">Avatar URL</span>
    <input
      name="avatar_url"
      placeholder="https://example.com/avatar.jpg"
      [(ngModel)]="formContactData.avatar_url"
    />
  </label>
  <label class="row">
    <span class="field-name">Notes</span>
    <textarea name="notes" [(ngModel)]="formContactData.note"> </textarea>
  </label>
  <div class="form-actions">
    <button type="submit">Save</button>
    <button [routerLink]="['../']" class="cancel-button" type="button">
      Cancel
    </button>
  </div>
</form>
